<div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/random/200x200" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><b>Title card </b></p>
    <p class="card-text">Some quick example of card text </p>
  </div>
</div>
