<div class="container">
  <h2>
    A propos de Sandy Mango
  </h2>

  <div class="d-flex justify-content-center align-items-center py-3">
    <%= image_tag "sandy-picture.jpg", alt: "alttext", style:"width: 500px; height: 500px;" %>
  </div>

  <p class="text-justify">
    Sandy Hui Bon Hoa, de nom d'artiste Sandy Mango, grande voyageuse est une artiste indépendante française, multi-instrumentiste et développeuse de projets artistiques et humanitaires avec son association The Cosmic Boat.

    Depuis 2012, elle parcourt le monde en partageant ses oeuvres d’art et en transmettant les outils d’expression artistique auprès d’un public diversifié, au travers de Concerts, Voyage Sonore, Ateliers, Soins, Conférences, Expositions...

    Elle a l'opportunité de participer à plusieurs projets humanitaires et de volontariat social, lui permettant d'élargir ses perceptions et de s'ouvrir à une dimension plus authentique des relations humaines.

    Ses oeuvres sont inspirées par la nature, ses voyages et les rencontres de la vie.
  </p>
</div>

<div class="container">
  <h2>Parcours</h2>

  <p class="text-justify">
    D'une mère Taïwanaise et d'un père Vietnamien, elle a grandit en Seine et Marne (77) dans la banlieue parisienne. Cette richesse de mixité culturelle imprègne grandement ses créations.

    C'est à l'âge de 16ans qu'elle trouve sa première guitare... dans la poubelle. Elle commence à jouer divers instruments : la batterie, le saxophone alto et ténor, la flûte traversière, le djémbé et les doundouns, le violoncelle, le handpan, et principalement le chant.

    En 2011, elle étudie à l'université de Paris-Est une licence de musicologie et métiers du son et la composition de musique pour film et jeux vidéos et le jazz, à l'université de Montréal au Canada.

    En 2012 elle réalise son premier projet de solidarité en faveur de la sensibilisation à l'éducation des jeunes filles en milieu rural, au Togo avec l'association Racines et LGD Togo sur le continent Africain.

    En 2014, elle donne des ateliers de beat-box aux enfants en situation de marginalisation dans les montagnes de Port-au-prince en Haïti avec Amnesty International.

    Depuis 2015, elle accompagne bénévolement de nombreuses personnes à la rue et en situation de crises.

    En 2017, elle réalise un projet de solidarité pour aider à financer du matériel sanitaire, éducatif et créatif aux enfants de l'île de Caohagan, aux Philippines avec son association The Cosmic Boat.
  </p>
</div>

<div class="container">
    <h2>Discographie</h2>

  <p class="text-justify">
    Décembre 2015, Album Bhinna Crew "Handpan Improvisation" - Tenerife, Île Canaris

    Septembre 2016, Album caritatif ONG DragonFly "The Art of Balance Handpan Journey" avec 17 artistes - France

    Octobre 2017,  Album Sandy Mango & The Cosmic Boat "Corasol" avec 23 artistes rencontrés durant ses voyages - Lyon, France

    Décembre 2018, Album Voyage Sonore Sandy Mango & Little Pablo « Graines de rêves » - Tours, France

    Avril 2019, Album Viaje Sonoro Sandy Mango & The Cosmic Boat  "Semillas de Suenos" - Malaga, Espagne

    Novembre 2019 , Album caritatif Sandy Mango & The Cosmic Boat "Caohagan Island" - Caohagan, Philippines

    2020 Sandy Mango & Kamehaleon - Corse, France
  </p>
</div>
