a:hover {
  text-decoration: none !important;
}

.navbar{
  top: 0;
  position: sticky;
  background-color: #F4F4F4 !important;
  z-index: 99;
}


.sidebar-link{
  color:darkblue;
}

.selector {
  transition: all 0.7s ease;
}

.selector.active p {
  // color: #FFFFFF !important;
}


.selector.active p:hover {
  color: black !important;
}

.selector :hover {
  // background-color: white;
  border-bottom: 1px solid grey;
  transition: all 0.3s ease;
}

.selector p:hover {
  opacity:0.7;
  cursor: pointer;

}

.selector.active p:hover {
  opacity:1 !important;
}

@media(max-width: 767.98px){

  .sidebar{
   width: 130px;
  }


}

.navbar-nav {
  padding-left: 30px !important;
}
